.header {
  position: sticky;
  top: 0;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--black);
  height: 100vh;
  width: 100%;
  max-width: 65px;
  flex-shrink: 0;

  transition:
    padding 0.4s ease,
    max-width 0.4s ease;

  &._open {
    padding-right: 15px;
    max-width: 360px;

    .header__line-logo {
      max-height: 0px;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 5px; /* Ширина всего элемента навигации */
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid rgba(69, 69, 69, 0.7);
      background-color: #535252;
      border-radius: 10px;
    }
  }
  &__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    min-height: 100%;
    flex-shrink: 0;
    padding: 14px 8px;
    width: 65px;
  }
  &__line-logo {
    display: block;
    width: 35px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 50px;
    transition: max-height 0.3s ease;

    img {
      display: block;
      width: 100%;
    }
  }
  &__line-btn-menu {
    cursor: pointer;

    @include flex-center;
    flex-direction: column;
    gap: 10px;

    font-size: 13px;
    text-transform: uppercase;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    &._close {
      span {
        max-height: 0px;
      }

      .lines {
        justify-content: center;
        div {
          position: absolute;
          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }

    span {
      overflow: hidden;
      max-height: 30px;
      height: 100%;

      transition: max-height 0.3s ease;
    }

    .lines {
      position: relative;
      @include flex-center;
      flex-direction: column;
      gap: 5px;
      min-width: 22px;
      min-height: 22px;

      div {
        width: 100%;
        border-radius: 10px;
        height: 1px;
        width: 25px;
        background-color: currentColor;

        transition: transform 0.3s ease;
      }
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 15px;
  }
  &__social-btn {
    display: block;
    width: 18px;
    height: 18px;
    color: var(--alto);

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__main {
    flex: 1;

    &._hide {
      display: none;
    }
  }
  &__main-container {
    padding: 24px 24px 8px 24px;
  }
  &__head {
    margin-bottom: 45px;
  }
  &__logo {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 15px;

    font-family: "Forum", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary);

    img {
      display: block;
      width: 65px;
    }
  }
  &__head-content {
    font-weight: 200;
    font-size: 12px;
    margin-top: 6px;
    color: var(--primary);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 17px;

    .menu-item-has-children {
      .btn {
        @include flex-between;
        cursor: pointer;
        gap: 10px;

        transition: color 0.3s ease;
        @include hover {
          color: var(--primary);
        }

        &._active {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    a {
      font-size: 15px;
      text-transform: uppercase;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    svg {
      width: 12px;
      height: 12px;
      flex-shrink: 0;

      transition: transform 0.3s ease;
    }
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0px 0px 20px;

    a {
      text-transform: none;
    }
  }
  &__menu-subsublist {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 0px 40px;
    gap: 12px;
  }
  &__bottom-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    a {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 10px;

      font-weight: 300;
      font-size: 14px;
      color: rgba(255,255,255,0.8);

      transition: color .3s ease;
      @include hover {
        color: var(--primary);

        svg {
          transform: translateX(5px);
        }
      }

      span {
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      svg {
        width: 17px;
        height: 17px;
        transition: transform .3s ease;
      }
    }
  }
}
