<section class="intro" style="background: url('@img/intro.jpg') left 0 top 0 / cover no-repeat;">
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__head">
        <h1 class="intro__title">Храм Преображения Господня</h1>
        <div class="intro__subtitle">на Преображенской площади</div>
      </div>
      <ul class="list intro__list">
        <li>
          <span>
            Главный Храм
            <br />
            Сухопутных войск
          </span>
          <img src="@img/intro-item-1.png" alt="icon" />
        </li>
        <li>
          <span>
            храм
            <br />
            преображенского полка
          </span>
          <img src="@img/intro-item-2.png" alt="icon" />
        </li>
      </ul>
    </div>
  </div>
</section>
