@import "./base/normalize";
@import "./base/vars";
@import "./base/templates";
@import "./base/settings";
@import "./base/media";
@import "./base/body-config";
@import "./base/config-container";

// ui
@import "./ui/button";
@import "./ui/list";
@import "./ui/sect";
@import "./ui/title";
@import "./ui/card-new";
@import "./ui/slider";

// widgets
@import "./widgets/burger";

// components
@import "./components/header";

@import "./components/intro";
@import "./components/s-news";

@import "./components/footer";